{% extends "layout.html" %}

{% block places %}
  <form>
  <h4>Hotels</h4>
  <select>
    {% for hotel in templateHotels %}
    <option value="{{hotel.id}}">{{hotel.name}}</option>
    {% endfor %}

  </select>
  <h4>Restaurants</h4>
  <select>
    {% for restaurant in templateRestaurants %}
    <option value="{{restaurant.id}}">{{restaurant.name}}</option>
    {% endfor %}
  </select>
  <h4>Activities</h4>
  <select>
    {% for activity in templateActivities %}
    <option value="{{activity.id}}">{{activity.name}}</option>
    {% endfor %}
  </select>
  </form>
{% endblock%}

{% block itinerary %}
  <form>
  <h4>Hotel</h4>
  <li>xxxxxxx</li>
  <h4>Restaurants</h4>
  <li>xxxxxxx</li>
  <h4>Activities</h4>
 <li>xxxxxxx</li>
  </form>
{% endblock %}

{% block content %}


{% endblock %}
